p{
    margin: 0 auto;
    margin-top: 100px;
    font-size: 50px;
    width: 200px;
    height: 100px;
    border-radius: 20px;
    font-family: 'Rubik', sans-serif;
    background-color: antiquewhite;
    text-align: center;
    line-height: 100px;
}

button{
    width: 80px;
    height: 30px;
    line-height: 30px;
    background-color: aqua;
}